<td>
  <%= link_to user.nickname, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [I18n.t('users._user.'+role.titleize),role]}) %>
    <%= f.submit I18n.t('users._user.ChangeRole'), :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to(I18n.t('users._user.DeleteUser'), user_path(user), :data => { :confirm => I18n.t('Areyousure') }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
