<h3><%=t('Users.one')%></h3>
<p><%=t('users.f.Nickname')%>: <%= @user.nickname if @user.nickname %></p>
<p><%=t('users.f.Name')%>: <%= @user.name if @user.name %></p>
<p><%=t('users.f.Surname')%>: <%= @user.surname if @user.surname %></p>
<p><%=t('users.f.Email')%>: <%= @user.email if @user.email %></p>
<p><%=t('users.f.Active')%>: <%= @user.active if @user.active %></p>
<p><%=t('users.f.Unit')%>: <%= @user.unit_id if @user.unit_id %></p>
<p><%=t('users.f.Role')%>: <%= @user.role if @user.role %></p>
<p><%=t('users.f.Telephone')%>: <%= @user.telephone if @user.telephone %></p>
<p><%=t('users.f.Note')%>: <%= @user.note if @user.note %></p>
